<h1> Nombre del heroe <small>Fecha de aparicion</small></h1>
<hr>


<div class="Row">

    <div class="col-md-4">

        <img src="../../../assets/img/hulk.png" class="img-fluid" alt=""><br><br>
        <a href="../heroes/" class="btn btn-outline-danger btn-block">Regresar</a>


    </div>

    <div class="col-md-8">
        <h3>Nombre del heroe</h3>
        <hr>
        <p>



        </p>

        <div *ngIf="expression">

            <img src="" alt="">

        </div>




    </div>




</div>